html, body {
    height: 100%;
  }

div.outer-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}
div.outer-container p {
    margin: 0 
}

.flexbutton {
    margin:5px;
}